<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Spring Core online tutorial - List al Products</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="ttp://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Show Customer</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Customer Id:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${customer.id}">Customer id</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">First Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${customer.firstName}">First Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Last Name:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${customer.lastName}">Last Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${customer.email}">Email</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Phone Number:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${customer.phoneNumber}">Phone Number</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>